<h1>Marvellous Infosystem</h1>

<textarea></textarea> <br />
<br />
<input type="text" />

<br />
////////////////////////////////////////////////////////////////
<!--part-2-->
<h1 class="head">Marvellous Infosystem (using .css file)</h1>
<label for="text">Enter your age </label>
<input type="number" />
<br />
////////////////////////////////////////////////////////////////
<!-- part-3-->

<h1 style="color: blue">Marvellous Infosystem (using inline)</h1>
<label for="text">Enter your number of experience in your domain </label>
<input type="number" />
<br />
///////////////////////////////////////////////////////////////
<!--part-4-->
<app-new-comp> </app-new-comp>

<router-outlet></router-outlet>
